.clearfix:after {
  content: "."; display: block;height: 0;clear: both;font-size: 1px;line-height: 1px;visibility: hidden;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background: #e3d098 url('../images/odessa_west_bg.gif?1') no-repeat top center;
  font: normal 14px/16px Arial, Helvetica, sans-serif;
  color: #290303;
}
pre {
white-space: normal;
}
a {
  color: #971b1b;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


p {
  margin: 0;
  padding: 0 0 10px 0;
}

img { border: none; }

h1 {
  padding: 5px 0 10px;
  margin: 0;
  font-size: 29px;
  /*line-height: 31px;*/
  line-height: 25px;
  font-weight: normal;
  text-transform: uppercase;
color: #971B1B;
}

h2 {
  line-height: 22px;
}

h3 {
  line-height: 17px;
}

.clearer {
  clear: both;
  font-size: 1px;
  line-height: 1px;
  height: 1px;
}

.wrap {
  width: 830px;
  margin: 0 auto;
  position: relative;
  text-align: left;
}


/* topbar */
  
  #topbar {
    border-bottom: 1px solid #ebddb1;
    height: 48px;
  }
  
  /* langmenu */
  
    #langmenu {
      margin: 0;
      padding: 0;
      list-style-type: none;
      position: absolute;
      top: 15px;
      left: 0;
      z-index: 2;
    }
    
    #langmenu li {
      display: inline;
      font-size: 12px;
      color: #c38166;
    }
    
    #langmenu li a {
      color: #c38166;
      text-transform: uppercase;
    }
    
    #langmenu li a.active {
      color: white;
      font-weight: bold;
    }
    
  /* search */
  
    #search {
      margin: 0;
      padding: 0;
      position: absolute;
      z-index: 1;
      top: 12px;
      right: 0;
      text-align: right;
    }
    
    #search .textbox {
      background: white;
      border: 1px solid white;
      font: normal 13px/16px Arial, Helvetica, sans-serif;
      color: #b64926;
    }
    
    #search .submit {
      font: normal 14px/16px Arial, Helvetica, sans-serif;
      background: url('../images/west_search.gif?1') no-repeat center left;
      color: white;
      text-align: left;
      border: none;
      padding: 0 10px 0 8px;
      vertical-align: middle;
    }

/* content */

  #content {
    padding: 50px 0 30px 0;
  }
  
  .content-box {
    margin-top: 7px;
  }
  .content-box-inner {
    padding: 0 0px 7px 0px;
  }
  
  * html .content-box-inner {
    background-image: none; 
    padding-bottom: 0;
  }
  
  .content {
    border: 10px solid #8c1f1f;
    background: #ffffff;
    padding: 15px 20px;
  }
  
  .content-inner {
    overflow: hidden;
    padding-bottom: 1px;
  }
  
  #front .content-inner {
    width: 210px;
  }
  
  .content-green {
    background: #ffffff;
  }
  
  .content-yellow {
    background: #ffffff;
  }
  
  .content-yellow a {
    color: #b64926;
  }
  
  /* front-table */
    
    .front-table, .content-table {
      margin: 0;
      padding: 0;
      border: none;
      border-collapse: collapse;
    }
      
    .front-table td, .content-table td {
      padding: 0;
      margin :0;
      position: relative;
      vertical-align: bottom;
    }
    
    .content-table td {
      vertical-align: top;
    }

/* news */

  #news {
    margin: 0;
    padding: 0;
    border-collapse: 0;
    border: none;
    width: 100%;
  }
  
  #news td {
    border: none;
    padding: 2px 4px;
    vertical-align: top;
position: static;
  }
  
  #news a {
    color: #290303;
  }
  
  #news .first {
    color: #290303;
  }
#news .first a {
color: #971b1b;
}
  
  #news .rss {
    vertical-align: middle;
  }
  .excerpt {
  margin-bottom: 15px
  
}
/* navmenu */

  #navmenu {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  #navmenu li {
    padding-bottom: 10px;
background: #ffffff;
  }
  
  #navmenu li a {
    font-size: 29px;
    line-height: 31px;
    font-weight: normal;
    text-transform: uppercase;
    color: #8c1f1f;
  }

#navmenu li.active a {
  text-decoration: underline;
}
#navmenu li.active li a {
  text-decoration: none;
}
#navmenu li.active li a:hover
 {
  text-decoration: underline;
}

  .submenu {
    margin: 0;
    padding: 10px 0 0 0;
    list-style-type: none;
  }
  
  #navmenu .submenu li {
    padding-bottom: 0;
    display: inline;
    font-size: 18px;
    color: #ffb03b;
  }
  
  #navmenu .submenu li a {
    font-size: 18px;
    line-height: 20px;
    color: #ffb03b;
    text-transform: none;
  }
  

  #navmenu .submenu li a.active {
    color: #971B1B;
  }
  
/* edicy */

  #edicy {
    font-size: 10px;
    color: white;
    float: right;
    margin-right: 5px;
  }
  
/* gallery */
  
  #selected_picture {
    padding: 0 0 10px 0;
  }
  #selected_picture img {
    display: block;
    border: none;
  }

  
  #selected_picture p {
    padding: 10px 0 10px;
  }
  
  .gallery_item img {
    display: block;
    border: none;
    cursor: pointer;
  }
  
  .gallery_item {
    float: left;
    padding: 0px 30px 10px 0px;
    text-align: left;
  }

  .gallery_item_inner {
    padding: 3px;
  }

  .gallery_item .active  {
    background: #ffffff;
  }
  
  .gallery_item a {
    color: white;
  }
  
/* sizes */

  .size1 { font-size: 10px; color: white; }
  .size2 { font-size: 12px; color: white; }
  .size3 { font-size: 14px; color: white; }
  .size4 { font-size: 16px; color: white; }
  .size5 { font-size: 18px; color: white; }
  
/* archive */

  #archive {
    border: none;
    border-collapse: collapse;
    color: #ffb03b;
  }
  
  #archive td {
    padding: 0px 10px 0px 0;
  }
  
  #archive a {
    color: white;
  }
  
/* blog */

  .blog {
    padding: 10px 0;
  }
  
  .blog h2, .comments h2 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 23px;
    color: #8C1F1F;
  }
  
  .blog_header {
    font-size: 10px;
    padding-bottom: 5px;
  }
  
/* comments */

  .comments {
    border-top: 1px solid #d6a090;
    margin-top: 20px;
    padding-top: 10px;
  }
  
  .comments h2 {
    padding-bottom: 10px;
  }
  
  .comment-author {
    text-align: right;
    font-size: 10px;
    color: #ffb03b;
  }
  
  .comment-author span, .comment-author a {
    color: #8C1F1F;
  }
  
/* addcomment */

  #addcomment h3 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 24px;
    color: #b64926;
  }
  
  #addcomment form {
    margin: 10px 0 0 0;
    padding: 0;
  }
  
  .addcomment {
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    border-collapse: collapse;
  }
  
  .addcomment td {
    padding: 2px 4px;
  }
  
  .addcomment .textbox, .addcomment textarea {
    width: 122px;
    padding: 2px 0;
    border: 1px solid white;
    background: #B64926;
    font: normal 12px/14px Arial, Helvetica, sans-serif;
    color: #ffffff;
    margin: 0;
  }
  
  .addcomment textarea {
      height: 85px;

      margin-top: 0px;
  }
  
  .addcomment .submit {
    width: 125px;
    background: #b64926;
    border: 1px solid #b64926;
    color: white;
    font: normal 12px/14px Arial, Helvetica, sans-serif;
  }
  
  /* article tags */
    .article-tags { margin-top: 0px; font-size: 14px; min-height: 1em; }
    .edy-tag-input { outline: none; }
    .article-tag-icon {
        width: 16px;
        height: 16px;
        float: left;
        background: url('../images/tag.png') no-repeat center center;
        opacity: 0.5;
        filter: alpha(opacity=50);
        margin-right: 7px;
        margin-top: 1px;
    }
    .svg .article-tag-icon { background: url('../assets/tag.svg') no-repeat center center; }
    .tagged-list-header {
        padding: 0;
        font-size: 24px;
        color: #222222;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .header-tag-icon {
        width: 24px;
        height: 24px;
        float: left;
        background: url('../images/header-tag.png') no-repeat center center;
        opacity: 0.5;
        filter: alpha(opacity=50);
        margin-top: -1px;
        margin-right: 15px;
    }
    .svg .header-tag-icon { background: url('../assets/header-tag.svg') no-repeat center center; }
    .tagged-list-header  a {border: none; text-decoration: none;}
    .tagged-list-header  a:hover { border-bottom: 1px solid #BEBEBE; }
    .article-tags .edy-taglist { margin-left: 25px; }


/* forms */

   .form_area {

      margin: 20px 0;

}

.form_field {

  margin: 0 0 5px;

}
.form_field label {
  display: block;
  font-weight: bold;
}


.form_error {

  color: #c71414;

  font-weight: bold;

  font-size: 12px;

  border: 1px dotted #c71414;

  padding: 5px;

}

.form_field_error {

  color: #c71414;

  font-size: 10px;
  line-height: 14px;

}

.form_notice {

  color: green;

  border: 1px dotted green;

  padding: 5px;

}
.form_field_size_large {

width: 98%;

}

.form_field_size_medium {

width: 50%;

}
.form_field_size_small {

width: 25%;

}
body .add-article {
  display: inline-block !important;
  margin: 10px 0 4px 0
}
.edy-site-blog-comment {
 line-height: 17px 
}